@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.merchpage{
    background-color: black;
    color: white;
    font-family: 'Righteous', cursive;
}

.merch-image{
    max-width: 100%;
}
